@using AlphaTest.Extensions
@model AlphaTest.Models.Query

@{
    ViewBag.Title = "Статус заявки";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Заявка №@Model.Id</legend>
        @Html.HiddenFor(m=>m.Id)
        <ol>
            <li>
                @Html.LabelFor(m => m.State)
                @Html.DropDownList("State", Model.State.ToSelectList((int) Model.State))
                @Html.ValidationMessageFor(m => m.State)
            </li>
        </ol>
        <input type="submit" value="Изменить статус заявки"/>
    </fieldset>
}
<p>@Html.ActionLink("Перейти к списку","Index")</p>
