@using AlphaTest.Extensions
@model AlphaTest.Models.Query

@{
    ViewBag.Title = "Статус заявки";
}

<h2>Заявка №@Model.Id</h2>
<div class="row justify-content-start">
    <div class="col-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(m => m.State)
                @Html.DropDownList("State", Model.State.ToSelectList((int) Model.State), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.State)
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        }
        <p>@Html.ActionLink("Перейти к списку","Index")</p>
    </div>
</div>

