@using AlphaTest.Extensions
@model AlphaTest.Models.AdminQueriesModel

@{
    ViewBag.Title = "Заявки";
}

<h2>@ViewBag.Title</h2>

<div class="queries">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер заявки</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Категория заявки</th>
            <th scope="col">Статус заявки</th>
            <th scope="col">Текст заявки</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var q in Model.Queries)
        {
            <tr>
                <td>
                    <p>@q.Id</p>
                </td>
                <td>
                    <p>@q.User.Name</p>
                </td>
                <td>
                    <p>@q.QueryDate</p>
                </td>
                <td>
                    <p>@q.Category.DisplayName()</p>
                </td>
                <td>
                    <p>@Html.ActionLink(@q.State.DisplayName(), "ChangeState", new {id = @q.Id})</p>
                </td>
                <td>
                    <p>@q.Text</p>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>